.login {
   width: 100%;
   font-family: "roboto";
}
.login-container {
   margin: 200px auto;
}
.login-form {
   background: #fff;
   width: 600px;
   border-radius: 4px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
   margin: 100px auto;
   overflow: hidden;
   padding: 50px;
}

.form-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 0 20px;
}
.form-group:last-child {
   margin: 0;
}
.form-group .reg-log-label {
   display: block;
   margin: 0 0 10px;
   color: rgba(0, 0, 0, 0.6);
   font-size: 12px;
   font-weight: 500;
   line-height: 1;
   text-transform: uppercase;
   letter-spacing: 0.2em;
}

.form-group input {
   outline: none;
   display: block;
   background: rgba(184, 184, 184, 0.1);
   width: 100%;
   border: 0;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 12px 20px;
   color: rgba(0, 0, 0, 0.6);
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   line-height: inherit;
   transition: 0.3s ease;
}
.form-group input:focus {
   color: rgba(7, 7, 7, 0.8);
}

.form-group .login-btn {
   outline: none;
   background: #d4a373;
   width: 100%;
   border: 0;
   border-radius: 4px;
   padding: 12px 20px;
   color: #fff;
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   line-height: inherit;
   text-transform: uppercase;
   cursor: pointer;
}

.form-group .login-btn:disabled {
   background-color: rgb(102, 99, 99);
}

.form-group .form-remember {
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 0;
   text-transform: none;
}
.form-group .form-remember input[type="checkbox"] {
   display: inline-block;
   width: auto;
   margin: 0 10px 0 0;
}
.form-group .form-recovery {
   color: #d4a373;
   font-size: 12px;
   text-decoration: none;
}

.form-header {
   margin: 0 0 30px;
}
.form-header h1 {
   padding: 4px 0;
   color: #d4a373;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
}

.acc-reg-log {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   font-weight: 300;
}

.acc-reg-log > p {
   font-style: italic;
   color: #d4a373;
   margin-right: 10px;
}

.reg-log-option {
   color: rgb(93, 85, 131);
   border-radius: 25px;
   text-decoration: underline;
}
